:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}



* {
    font-family: "Open Sans", sans-srvif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}



.header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

.header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}

.header .logo img {
    height: 40px;

}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.header .nav ul {
    display: flex;
    margin-right: 18px;
}

@media (max-width:768px) {
    .header .nav ul {
        display: none;
    }

    .header .nav .toggle-menu:hover+ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 80%);
    }

    .header .nav .toggle-menu:hover+ul li a {
        padding: 20px;
    }
}

.header .nav ul li a {
    padding: 43px 10px;
    display: block;
    font-size: 14px;
    color: white;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid;
}

.header .nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 3px solid white;
}

.header .nav .form i {
    color: white;
    position: absolute;
    top: -7px;
    transform: translateY(50%);
    right: 0;
    font-size: 22px;
}

.nav .toggle-menu {
    color: white;
    font-size: 22px;
    padding: 10px;
    margin-right: 20px;
}

@media (min-width:768px) {
    .nav .toggle-menu {
        display: none;
    }


}

i {
    color: white;
}

a {
    text-decoration: none;
}

.landing {
    min-height: 100vh;
    background-color: #a2a2a2;
    background-image: url('../images/pexels-irina-iriser-1366957.jpg');
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width :780px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.7;

}

.landing .text .content p {
    font-size: 14px;
    line-height: 1.6;
}

.landing .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 35px;
    padding: 20px;
}

.landing .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 35px;
    padding: 20px;
}

@media (max-width :768px) {
    .landing .fa-angle-left {
        display: none;
    }

    .landing .fa-angle-right {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    color: transparent;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.landing .bullets .active {
    background-color: #19c8fa;
}



.main-heading {
    padding: 50px;
}

.main-heading h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 120px;
    background-color: black;
    left: 50%;
    transform: translatex(-50%);
    bottom: -26px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: solid 2px black;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    transform: translatex(-50%);
    bottom: -33px;
}

.main-heading p {
    max-width: 100%;
    width: 500px;
    margin: 60px auto 40px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: #777;
    line-height: 1.6;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services .content {}

@media (min-width:768px) {
    .services .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 53px;
    }
}

.services .content .srv-box {
    display: flex;
    margin-bottom: 20px;
}

.services .content .srv-box i {
    font-size: 35px;
    color: black;
    margin-right: 50px;
}

.services .content .srv-box h3 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.services .content .srv-box p {
    color: #777;
    margin-bottom: 10px;
    line-height: 1.6;
}

@media (max-width:768px) {
    .services .content .srv-box {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }

    .services .content .srv-box i {
        text-align: center;
        margin: 0;
    }
    .services .content .srv-box h3{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .services .content .srv-box p{
        text-align: center;
    }
}